<div class="form-control">
  <h1 id="sign-in">Sign In</h1>

  <div class="form-input">
    <form action="/users/create-session" method="post">
      <input type="email" name="email" placeholder="Enter Email" required />
      <input
        type="password"
        name="password"
        placeholder="Enter Password"
        required
      />
      <input type="submit" value="Sign In" />
    </form>
  </div>
</div>
