<link rel="stylesheet" href="/css/userSignup.css">


<div class="sign-up">
  <h1>Sign Up</h1>

  <div class="form-sign-up">
    <form action="/users/create" method="post">
        <input type="text" name="name" placeholder="Enter Name" required />
        <input type="email" name="email" placeholder="Enter Email" required />
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          required
        />
        <input
          type="password"
          name="confirm_password"
          placeholder="Enter Confirm Password"
          required
        />
        <input type="submit" value="Sign Up" />
      </form>
  </div>
</div>
