<link rel="stylesheet" href="/css/userSign.css">

<div class="form-control">
  <h1 id="sign-in">Sign In</h1>

  <div class="form-input">
    <form action="/users/create-session" method="post">
      <input type="email" name="email" placeholder="Enter Email" required autocomplete="off" />
      <input
        type="password"
        name="password"
        placeholder="Enter Password"
        required
      />
      <input type="submit" value="Sign In" />
    </form>
  </div>
</div>


<p>
  <a href="/users/auth/google"> Google sign In</a>
</p>