.container{
    .navbar{
        display: flex;
        justify-content: space-between;
        background-color: #232323;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5)
    }
    #heading{
        padding-left: 24px;
        color: white;
    }
    .menu{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            li{
                padding: 16px;
                margin-left: 16px;
                font-size: 16px;
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color: palevioletred;
                    border-bottom: 1px solid lightgray;
                }
            }
        }
    }
}