#home-container{
    display: flex;

    #feed-post{
        width: 70%;
        padding: 16PX;
    }
    #user-friends{
        width: 30%;
        padding: 16px;
        border-left: 1px solid lightgray;
        min-height: 100vh;
    }
}