<style>
    .center{
        text-align: center;
        background-color: lightgray;
        color: black;
        
    }
</style>

<div class="center">
    <h3>Hi,  <%=comment.user.name %> Your comment is now published on the Codeial</h3>
   <p>your published comment is <%= comment.content%>, Thanks</p>
</div>