<style>
    .center{
        text-align: center;
        background-color: lightgray;
        color: black;
        
    }
</style>

<div class="center">
    <p>Hi, <%=comment.user.name %></p>
    <p> Your comment is now published on the Codeial</p>
    <p> and your comment is <%= comment.content%></p>
</div>