.main .main-container {
  background-color: #132C33;
  display: flex;
  justify-content: space-evenly; }

.main footer {
  padding: 16px;
  color: white;
  font-size: 16px; }

.main .footer-links {
  display: flex;
  align-items: center; }
  .main .footer-links ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none; }
    .main .footer-links ul li {
      padding: 8px;
      margin-left: 16px;
      font-size: 16px;
      font-weight: bold; }
      .main .footer-links ul li a {
        text-decoration: none;
        color: white; }
      .main .footer-links ul li a:hover {
        color: #EEEEEE;
        border-bottom: 1px solid lightgray; }
