#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 16PX; }
  #home-container #user-friends {
    width: 30%;
    padding: 16px;
    border-left: 1px solid lightgray;
    min-height: 100vh; }
